<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">AlexTcw</h1>
    <h3>Computer Engineer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px">
    <a href="https://www.linkedin.com/in/alextcw/" target="_blank" class="">
      <img src="assets/LLogo.png" width="24" height="24" class="rounded-circle me-2" />
    </a>

    <a href="https://www.facebook.com/profile.php?id=100017556910169" target="_blank" class="">
      <img src="assets/flogo.png" width="24" height="24" class="rounded-circle me-2" />
    </a>

    <a href="https://github.com/AlexTcw" target="_blank" class="">
      <img src="assets/gLogo.png" width="24" height="24" class="rounded-circle me-2" />
    </a>
  </div>
</div>