<div class="container">
  <div class="text-center mb-5 shadow rounded" id="contact">
    <h1>{{'contact.title' | translate}}</h1>
    <p>{{'contact.email' | translate}}: <b>edgaralex471@gmail.com</b></p>
    <p>{{'contact.platform'| translate}}:</p>
  </div>

  <div class="list-group shadow" id="socials">
    <a href="https://www.linkedin.com/in/alextcw/" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 impar">
      <img src="./assets/img/logos/LLogo.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" />
      <h3 class="mb-0">LinkedIn</h3>
    </a>

    <a href="https://www.facebook.com/profile.php?id=100017556910169" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 par">
      <img src="./assets/img/logos/flogo.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" />
      <h3 class="mb-0">Facebook</h3>
    </a>

    <a href="https://github.com/AlexTcw" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 impar">
      <img src="./assets/img/logos/gLogo.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" />
      <h3 class="mb-0">GitHub</h3>
    </a>
  </div>
</div>
