#contact {
  border-radius: 10px;
  background-color: #161b22;
  color: #fff;
}

#socials .impar {
  background-color: #161b22;
  color: #fff;
  border: none;
}

#socials .par {
  background-color: #21262d;
  color: #fff;
  border: none;
}
