<div class="container text-center">
  <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow" style="background-color: #320064; border: none;">
    Download PDF Resume
  </button>

  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow">
      <accordion-group [(isOpen)]="isWorkExperienceOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden"></div>

          <div class="btn-link">Work Experience</div>

          <div style="width: 10.95px">
            <div *ngIf="!isWorkExperienceOpen" style="color: white">></div>
            <div *ngIf="isWorkExperienceOpen" style="color: white">v</div>
          </div>
        </button>
        <hr />
        <div class="mb-0" id="resumeContainer">
          <article class="img-cert">
            <img class="shadow-lg" src="assets/redalyc.png" alt="" style="width: 40%; border-radius: 10px;">
          </article>
          <article class="body-cert">
            <h2 class="mb-0">Backend development <br> intern</h2>
            <a href="https://www.redalyc.org/">
              <h3 class="text-primary">Redalyc</h3>
            </a>
            <ul>
              <li>2023-2024</li>
            </ul>
          </article>
        </div>
        <hr />
      </accordion-group>
      <accordion-group [(isOpen)]="isEducationOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" id="acordionbutton" accordion-heading>
          <div style="visibility: hidden"></div>

          <div class="btn-link">Education</div>

          <div style="width: 10.95px">
            <div *ngIf="!isEducationOpen" style="color: white">></div>
            <div *ngIf="isEducationOpen" style="color: white">v</div>
          </div>
        </button>
        <hr />
        <div class="mb-0" id="resumeContainer">
          <article class="img-cert">
            <img class="shadow-lg" src="assets/filogo.jpeg" alt="" style="width: 40%; border-radius: 10px;">
          </article>
          <article class="body-cert">
            <h2 class="mb-0">Computer Engineer</h2>
            <a href="https://fi.uaemex.mx/portal/inicio/home.php">
              <h3 class="text-primary">Facultad de Ingenieria</h3>
            </a>
            <ul>
              <li>UAEMex</li>
            </ul>
          </article>
        </div>
        <hr />
      </accordion-group>
      <accordion-group [(isOpen)]="isCertificationsOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden"></div>

          <div class="btn-link">Certifications</div>

          <div style="width: 10.95px">
            <div *ngIf="!isCertificationsOpen" style="color: white">></div>
            <div *ngIf="isCertificationsOpen" style="color: white">v</div>
          </div>
        </button>
        <hr />
        <div class="mb-0" id="resumeContainer">
          <article class="img-cert">
            <img src="assets/javascript-essentials-1.png" alt="" style="width: 40%;">
          </article>
          <article class="body-cert">
            <a href="https://www.credly.com/badges/2a3e846e-dd6d-49c0-8d46-7b14969a0c3f/public_url">
              <h3 class="text-primary">JavaScript Essentials 1</h3>
            </a>
            <ul>
              <li>Issued by <a href="https://www.credly.com/org/cisco">Cisco</a></li>
            </ul>
          </article>
        </div>
        <hr />
      </accordion-group>
      <accordion-group [(isOpen)]="isSkillsOpen">
        <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
          <div style="visibility: hidden"></div>

          <div class="btn-link">Skills</div>

          <div style="width: 10.95px">
            <div *ngIf="!isSkillsOpen" style="color: white">></div>
            <div *ngIf="isSkillsOpen" style="color: white">v</div>
          </div>
        </button>
        <div class="row" style="text-align: left">
          <div class="col">
            <h3>Programming Languages</h3>
            <ul>
              <li>Java</li>
              <li>Typecript</li>
              <li>Javascript</li>
              <li>Python</li>
            </ul>
          </div>
          <div class="col">
            <h3>FrameWorks:</h3>
            <ul>
              <li>Angular</li>
              <li>SptingBoot</li>
            </ul>
          </div>
          <div class="col">
            <h3>Other Skills:</h3>
            <ul>
              <li>Other</li>
            </ul>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>