<div class="container">
  <div class="row">
    <!--About me-->
    <div class="col-lg shadow m-2 " id="about-me">
      <div class="text-center">
        <h2>{{'home.about_me' | translate}}</h2>
        <img ngSrc="./assets/img/logos/profile.jpeg" alt="profile-picture" width="280" height="280" class="rounded-circle" />
        <p style="text-align: justify; padding: 20px">{{'home.overview' | translate}}</p>
      </div>
    </div>
    <!--Featured Project-->
    <div class="col-lg shadow m-2" id="featured-project">
      <div class="text-center">
        <h2>{{'home.featured' | translate}}</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>
      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <slide>
            <img src="{{ picture }}" alt="slide" style="display: block; width: 100%" />
          </slide>
        </div>
      </carousel>
      <p class="m2-2">{{ featuredProject.summary }}</p>
      <p>{{'home.visit' | translate}}</p>
    </div>
  </div>
</div>
